html {
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #101728;
  background-size: 100% 100%;
  background-position: center top;
  height: 100vh;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 200px;
}

h1 {
  font-size: 60px;;
  color: white;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 200px;
}

#cat-fact {
  font-size: 24px;
  text-align: center;
  max-width: 600px;
  margin-bottom: 16px;
}

#cat-image {
  max-width: 400px;
  margin-bottom: 16px;
}

#new-cat-button {
  padding: 20px 60px; /* define um padding grande */
  text-align: center; /* centraliza o texto no botão */ 
  border-radius: 25px; /* define bordas arredondadas */ 
  background: linear-gradient(to right, #141E30, #243B55); /* define um gradiente de duas cores */
  border: none; /* remove a borda */
  color: #fff; /* define a cor do texto */
  font-size: 25px; /* define o tamanho da fonte */
  cursor: pointer; /* define um cursor de mão ao passar o mouse sobre o botão */

}